.add-notebook-popup {
	width: 100%;
	height: 100vh;
	height: 100dvh;

	position: fixed;
	inset: 0;

	background-color: transparent;
	backdrop-filter: blur(4px);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& > div {
		width: 14rem;
		height: 10rem;

		border-radius: 0.5rem;
		border: 1px solid var(--color-content-primary);

		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		align-items: center;
		justify-content: center;

		pointer-events: all;

		background-color: var(--color-bkg-primary);

		z-index: 1;

		& > button {
			all: unset;
			box-sizing: border-box;

			width: fit-content;

			padding-block: 0.25rem;
			padding-inline: 1rem;

			border-radius: 0.25rem;
			border: 1px solid var(--color-content-primary);

			font: var(--text-label-md);
			color: var(--color-content-primary);
		}
	}
}

.add-nb-input-wrapper {
	padding-inline: 1rem;
	border: 1px solid var(--color-content-primary);
	border-radius: 0.5rem;

	height: 2rem;
	width: 90%;

	& > input {
		all: unset;

		width: 100%;
		height: 100%;

		font: var(--text-label-md);
		color: var(--color-content-primary);
	}
}
