.notes-view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 1rem;

	align-items: start;

	justify-content: space-between;
}

.note-wrapper {
	width: 48%;
	height: 8rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	border-radius: 1rem;
	border: 1px solid var(--color-content-primary);

	padding: 0.75em;

	background-color: var(--color-bkg-primary);

	box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);

	& > h2 {
		font: var(--text-label-md);
		color: var(--color-content-primary);
	}

	& > small {
		flex: auto;
		overflow: hidden;
	}

	& > p {
		font: var(--text-label-sm);
		color: var(--color-content-secondary);
	}
}
